# Add your dependencies here
langchain>=1.1.3  # LLM orchestration framework to build applications with LLMs
langchain-openai>=1.1.1  # OpenAI integration for LangChain to use GPT models
python-dotenv>=1.2.0  # Loads environment variables from a .env file
ipykernel>=7.1.0  # IPython kernel for Jupyter to run interactive notebook cells
langchain-model-profiles>=0.0.4  # Simplifies model configuration profiles in LangChain
langchain-tavily>=0.2.13  # Tavily search API adapter for LangChain
tavily-python>=0.7.13  # Official Python SDK for Tavily search engine
tavily>=1.1.0  # Tavily API search wrapper
langchain-community>=0.4.1  # Third-party integrations and community-contributed components for LangChain
mcp>=1.21.1  # Model Context Protocol SDK for building MCP servers/clients
langchain-mcp-adapters>=0.1.13  # Adapter to connect MCP servers as tools in LangChain
langgraph>=1.0.3  # Orchestration framework to build stateful multi-actor agent applications
langgraph-cli>=0.4.9  # Command-line interface for managing and running LangGraph applications
langgraph-api>=0.5.37  # API services for deploying and interacting with LangGraph agents
langsmith>=0.4.43  # Debugging, testing, and monitoring platform for LLM applications
langchain-core>=1.1.3  # Base abstractions and schemas for the LangChain ecosystem
langchain-ollama  # Ollama integration for running LLMs locally in LangChain
fastapi[standard]  # Modern, fast web framework for building APIs with Python
uvicorn[standard]  # Lightning-fast ASGI server implementation to run FastAPI applications
tiktoken>=0.5.0  # Fast BPE tokeniser for use with OpenAI's models
langchain-chroma>=1.1.0  # Chroma vector database integration for LangChain
pypdf>=0.1.7  # Pure-Python PDF library capable of splitting, merging, and extracting data
chromadb>=1.5.9  # Open-source AI application database/vector database for embeddings
botocore>=1.43.18  # Low-level SDK interface to Amazon Web Services (AWS) services
langgraph-checkpoint>=0.4.0  # Checkpointing for LangGraph to persist state